.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d0c1d;
  padding: 5% 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.signup-card {
  background: #0f0e2b;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
}

.logo {
  height: 40px;
  width: auto;
  margin-bottom: 10px;
}

/* Center and adjust reCAPTCHA */
.g-recaptcha {
  display: flex;
  justify-content: left;
  margin: 10px auto;
  /* Adjust spacing */
  transform: scale(0.9);
  /* Resize */
  transform-origin: center;
}

.g-recaptcha iframe {
  background: transparent !important;
}

h2 {
  color: white;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
  /* Adds space below the h2 */
}

p {
  color: #fdfafa !important; 
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  /* Adds space above the p */
}

.input-group {
  margin: 10px 0;
  text-align: left;
}

.input-group label {
  display: block;
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #2a2a3a;
  color: white;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border: 2px solid #b300ff;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background: #b300ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background: #9200cc;
}

.login-link {
  margin-top: 10px;
  color: #ccc;
}

.login-link a {
  color: #b300ff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}